Source: fall-from-grace
Section: devel
Priority: optional
Maintainer: Björn Edström <be@bjrn.se>
Build-Depends: debhelper (>= 7), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev
XS-Python-Version: >=2.6
Standards-Version: 3.8.4

Package: fall-from-grace
Architecture: all
Homepage: http://TODO.com/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-psutil, python-daemon
Description: non-intrusive userspace process supervisor
  Can for example gracefully shutdown process using too much resources
  (memory) before the oom killer kicks in.
